/* Styling for doc footer */

footer {
    background-color: white;
    text-align: center;
    vertical-align: middle;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;

    /* Places footer at the bottom of the page */
    position: fixed;
    bottom: 0px;
}